<?xml version="1.0"?>
<model>
  <name>quadruped</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>
  <license>https://github.com/aionrobotics/aion_io/blob/master/LICENSE.txt</license>

  <author>
   <name>Nicholas Nunno</name>
  </author>

  <description>
    Simple quadruped robot with wheels for use with the experimental quadruped_control module.
  </description>
</model>
